body {
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
	margin: 0px;
}

.hero-unit {
    margin: 45px auto 45px auto;
    width: 675px;
    font-size: 18px;
    font-weight: 200;
    line-height: 30px;
    background-color: #eee;
    border-radius: 6px;
    padding: 60px;
}

.hero-unit h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


.gridView .chartClass input{
	text-align: center;
	font-size: 20px;
	width: 80%;
	background: transparent;
    border: none;
}

.menuView .container{
	border: 1px solid black;
	border-radius: 5px;
	height: 100%;
	width: 150px;
}

.menuView {
	width: 100%;
	height: 100%;
	    
}

.menuView .title{	
	background-color: #323431;
    color: white;
    padding-left: 20px;
}

.screen{
	padding-top: 5px;
	margin-left: 205px;

}

.menuView .clickable { 
	border-radius: 5px;
	cursor: pointer;
	border-bottom: 1px solid black;
	background: #fff;
	

}



.menuView{
	position: absolute;
}



.howToView .content{
	margin-left: 20px;
}


.controls {
    margin-bottom: 20px;
}


/*/
/* gridster
/*/

.gridster * {
  margin:0;
  padding:0;
}

.gridster ul {
    background-color: #EFEFEF;
	list-style-type: none;
	min-width: 100%;
	height: 100%;
}

.gridster li {
    font-size: 1em;
    font-weight: bold;
    text-align: center;
    line-height: 100%;
	overflow: hidden;
    border-radius: 20px;
}


.gridster {
    margin: 0 auto;

    opacity: .8;

    -webkit-transition: opacity .6s;
    -moz-transition: opacity .6s;
    -o-transition: opacity .6s;
    -ms-transition: opacity .6s;
    transition: opacity .6s;
}

.gridster .gs-w {
    background: white;
    cursor: pointer;
}

.gridster .player {
    background: #BBB;
}


.gridster .preview-holder {
    border: none!important;
    background: blue!important;
	opacity: 0.1;
}


