<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>datapine::senior test</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        <!-- build:css(.tmp) styles/main.css -->
        <link rel="stylesheet" href="styles/main.css">
		<link rel="stylesheet" href="styles/menu.css">
		<link rel="stylesheet" href="bower_components/gridster/dist/jquery.gridster.min.css">
		
		<script src="bower_components/modernizr/modernizr.js"></script>
		<script src="bower_components/jquery/jquery.js"></script>
		<script src="bower_components/gridster/dist/jquery.gridster.min.js"></script>
		<script src="bower_components/chartjs/Chart.min.js"></script>
		<script src="bower_components/underscore/underscore-min.js"></script>
		<script src="bower_components/backbone/backbone.js"></script>
        <!-- endbuild -->

		<script src="data/data.js"></script>
		<script src="scripts/views.js"></script>

		
    </head>
    <body>
        <!--[if lt IE 10]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->


        <!--
		grid view template defintion
		-->
		<script type="text/template" id="grid">
				<div class="gridster">
					<ul>
					  <li class="empty" data-row="1" data-col="2" data-sizex="4" data-sizey="3"></li>
					  <li class="empty" data-row="1" data-col="6" data-sizex="4" data-sizey="3"></li>
					  <li class="empty" data-row="5" data-col="4" data-sizex="2" data-sizey="2"></li>
					  <li class="empty" data-row="5" data-col="6" data-sizex="2" data-sizey="2"></li>
					</ul>
				</div>
		</script>
		
		<!--
			chart view template defintion
		-->
		
		<script type="text/template" id="chart">
				<div class="chartClass <%= chart.id %>">
					<div class="title">
						<input type="text" value="<%= chart.title %>"/>
				
					</div>
					<div class="chart">
						<canvas id="<%= chart.id %>"></canvas>
					</div>
					<div class="description">
						<%= chart.description %>
					</div>
					
				</div>
		</script>
		
		<!--
			HowTo view template defintion
		-->
		
		<script type="text/template" id="howTo">
			<div class='content'>
				<h3> How do I get set up?</h3>
				<ul>
					<li>Install yeoman or simply just bower and grunt</li>
					<li>Once they have been installed go to the directory and install the grunt-cli -> 'npm install -g grunt-cli' and then 'npm install'</li>
					<li>Next run 'bower install' to install all the dependencies required</li>
					<li>I used chartJs instead of highcharts for the chart's generation and gridster for the layout</li>
					<li>The data chart, title and description are in data/data.js</li>
					<li>Once everything has been installed simply run 'grunt server' and begin your test</li>
				</ul>
				
				<h3> With this demo, you can</h3>
				<ul>
					<li>Move the chart panels all around the grid</li>
					<li>Resize the chart containers as you wish</li>
					<li>Rename the title of the charts</li>
					<li>Study meaningful nice charts</li>
				</ul>
				
			</div>
		</script>

		<script type="text/template" id="menu">
			<div id='cssmenu'>
				<ul>
				  
				   <li class='clickable active' target="home"><a href='#'><span>Home</span></a></li>
				   <li class='clickable' target="howto" ><a href='#'><span>How to</span></a></li>
				   
				</ul>
			</div>
		</script>

        <!-- build:js scripts/main.js -->
        <script data-main="scripts/main" src="bower_components/requirejs/require.js"></script>
        <!-- endbuild -->
</body>
</html>
